#container{
    max-width: 1000px;
    margin: auto;
    padding: 16px;
}



table {
    border-collapse: collapse;
    overflow: auto;
}
  
th {
     position: sticky;
    top: 0;
}
  
  th, td {
    padding: 8px;
    text-align: left;
   
  }
  